<?xml version="1.0" encoding="UTF-8"?>
<Wix xmlns="http://schemas.microsoft.com/wix/2006/wi">

	<?define MyProductName = "Dan's Hardware Monitor" ?>
	<?define MyProductVersion = "0.0.1" ?>

	<?if $(var.Platform)=x64?>
		<?define ProgramFiles = "ProgramFiles64Folder" ?>
	<?else?>
		<?define ProgramFiles = "ProgramFilesFolder" ?>
	<?endif?>
	
	<Product Id="*" Name="$(var.MyProductName)" Language="1033" Version="$(var.MyProductVersion)" Manufacturer="Dan Forever" UpgradeCode="8d989610-ca2f-42b9-ad9a-8edbf296621f">
		<Package InstallerVersion="200" Compressed="yes" InstallScope="perMachine"  />

		<MajorUpgrade AllowSameVersionUpgrades="yes" DowngradeErrorMessage="A newer version of [ProductName] is already installed." />
		<MediaTemplate EmbedCab="yes" />

		<Feature Id="ProductFeature" Title="Installer" Level="1">
			<!-- The actual binaries and associated files are automatically gathered using "heat", found in the "publishandharvest" targets file -->
			<ComponentGroupRef Id="HarvestedFiles" />

			<?ifdef TeensyLoaderCli ?>
				<ComponentGroupRef Id="TeensyLoaderCli" />
			<?endif?>
			
			<ComponentRef Id="ApplicationShortcut" />
		</Feature>

		<!-- Configure the Eula / License that will be displayed to the user-->
		<WixVariable Id="WixUILicenseRtf" Value="gpl-3.0.rtf" />

		<!-- Configure the UI -->
		<Property Id="WIXUI_INSTALLDIR" Value="APPLICATIONROOTDIRECTORY" />
		<UI>
			<UIRef Id="WixUI_InstallDir" />
			<Publish Dialog="ExitDialog" Control="Finish" Event="DoAction" Value="LaunchApplication">WIXUI_EXITDIALOGOPTIONALCHECKBOX = 1 and NOT Installed</Publish>
		</UI>

		<!-- These 3 parts contribute to the "Launch the app" checkbox on the final UI panel -->
		<Property Id="WIXUI_EXITDIALOGOPTIONALCHECKBOXTEXT" Value="Launch the hardware monitor companion app" />
		<Property Id="WixShellExecTarget" Value="[#Frontend.exe]" />
		<CustomAction Id="LaunchApplication" BinaryKey="WixCA" DllEntry="WixShellExec" Impersonate="yes" />

		<!-- Create the icon that we'll use for the start menu icon and other related places -->
		<Icon Id="ApplicationIcon" SourceFile="$(var.Frontend.ProjectDir)Images\thermometer.ico" />
		
		<!-- Set the icon for the app listing in add/remove programs -->
		<Property Id="ARPPRODUCTICON" Value="ApplicationIcon" />

		<!-- This property ensures that the install location is listed for the app in add/remove programs -->
		<SetProperty Id="ARPINSTALLLOCATION" Value="[APPLICATIONROOTDIRECTORY]" After="CostFinalize" />

	</Product>

	<!-- Directory structure -->
	<Fragment>
		<Directory Id="TARGETDIR" Name="SourceDir">

			<!-- Program files -->
			<Directory Id="$(var.ProgramFiles)">
				<Directory Id="APPLICATIONROOTDIRECTORY" Name="HardwareMonitor" />
			</Directory>

			<!-- The Start menu -->
			<Directory Id="ProgramMenuFolder">
				<Directory Id="ApplicationProgramsFolder" Name="$(var.MyProductName)"/>
			</Directory>
		</Directory>
	</Fragment>

	<!-- Start menu Shortcuts -->
	<Fragment>
		<DirectoryRef Id="ApplicationProgramsFolder">
			<Component Id="ApplicationShortcut" Guid="{9764DED9-13EE-4A06-B84B-C9EB918C0257}">
				<Shortcut Id="ApplicationStartMenuShortcut" Name="$(var.MyProductName)" Description="The companion app that monitors the PC's health and sends the data to the device" Target="[!Frontend.exe]" Icon="ApplicationIcon" WorkingDirectory="APPLICATIONROOTDIRECTORY" />
				<RemoveFolder Id="ApplicationProgramsFolder" On="uninstall"/>
				<RegistryValue Root="HKCU" Key="Software\DanForever\DanHWMon" Name="installed" Type="integer" Value="1" KeyPath="yes"/>
			</Component>
		</DirectoryRef>
	</Fragment>

	<!-- Teensy Loader CLI (External tool) -->
	<?ifdef TeensyLoaderCli ?>
	<?warning Teensy loader detected ?>
		<Fragment>
			<DirectoryRef Id="APPLICATIONROOTDIRECTORY">
				<Directory Id="ExternalTools" Name="Tools" />
			</DirectoryRef>

			<ComponentGroup Id="TeensyLoaderCli">
				<Component Id="teensy_loader_cli.exe" Directory="ExternalTools" Guid="{CEE21A5B-7EAF-4DB4-A24B-0F9C8068F298}">
					<File Id="teensy_loader_cli.exe" KeyPath="yes" Source="$(var.TeensyLoaderCli)" />
				</Component>
			</ComponentGroup>
		</Fragment>
	<?else?>
		<?warning Teensy loader not found ?>
	<?endif?>
</Wix>
